@import "tailwindcss";

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

html, body {
    @apply bg-white dark:bg-gray-950
}

h1 {
    @apply text-black dark:text-white
    text-center
}
